.nav-menu {
  height: 100%;
  font-size: 1.1rem;
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__list * {
  text-decoration: none;
}

.nav-menu__list__item {
  font-weight: bold;
  padding: 10px;
  white-space: nowrap;
  color: #fff;
}

.nav-menu__list__item:hover {
  background-color: rgba(255, 255, 255, 0.055);
}
