.header {
  height: 10%;
  background-color: #2d3a7c;
  position: relative;
}

.header__tittle {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  float: left;
}

.header__tittle__text {
  text-decoration:none;
  color: #fff;
}